div.details {
    transform-origin: left;
}

@keyframes openX {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

@keyframes closeX {
    from {
        transform: scaleX(1);
    }

    to {
        transform: scaleX(0);
    }
}

div.lists,
div.taskInputCont {
    transform-origin: top;
}

@keyframes openY {
    from {
        transform: scaleY(0);
    }

    to {
        transform: scaleY(1);
    }
}

@keyframes closeY {
    from {
        transform: scaleY(1);
    }

    to {
        transform: scaleY(0);
    }
}

